<div>
    <h1 class="text-blue-500 font-bold">Courses:</h1>
    <ul class="list-disc ml-5 mt-3">
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://www.kodlama.io/p/yazilim-gelistirici-yetistirme-kampi1">
                <h1>08/2022 – 10/2022: <span class="">ASP.NET Core Advance Bootcamp</span> - <span class="font-light">Kodlama.io</span></h1>
            </a>
        </li>
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://www.kodlama.io/p/yazilim-gelistirici-yetistirme-kampi">
                <h1>01/2021 – 03/2021: <span class="">ASP.NET Core and Angular Bootcamp</span> - <span class="font-light">Kodlama.io</span></h1>
            </a>
        </li>
    </ul>
</div>
