<div>
    <h1 class="text-blue-500 font-bold">Courses:</h1>
    <ul class="list-disc ml-5">
        <li>
            <h1>08/2022 – 10/2022: <span class="">ASP.NET Core Advance Bootcamp</span> - <span class="font-light">Kodlama.io</span></h1>
        </li>
        <li>
            <h1>01/2021 – 03/2021: <span class="">ASP.NET Core and Angular Bootcamp</span> - <span class="font-light">Kodlama.io</span></h1>
        </li>
    </ul>
</div>
