<div>
    <h1 class="text-blue-500 font-bold">Education:</h1>
    <ul class="list-disc ml-5 mt-3">
        <li>
            08/2020 – Present: Namık Kemal University - Electronics Technology
        </li>
        <li>
            08/2014 – 06/2018 : Private Cerkezkoy Organized Industrial Zone Vocational High School - Electric - Electronics
        </li>
    </ul>
</div>
