<div>
    <h1 class="text-blue-500 font-bold">About:</h1>
    <p>
        Experienced software developer with a strong background in both
        front-end and back-end development. Skilled in various programming
        languages, including Typescript, HTML, CSS, C#. Strong understanding of
        web development principles and experience working with databases and
        APIs.
    </p>
</div>
