<div>
    <h1 class="text-blue-500 font-bold">Portfolio:</h1>
    <ul class="list-disc ml-5 mt-3">
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/EmreAka/RentACarProject">
                Rent A Car
            </a>
        </li>
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/EmreAka/HrmsProject">
                Human Resources Management System
            </a>
        </li>
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/EmreAka/Kodlama.io.Devs">
                Kodlama.io.Devs
            </a>
        </li>
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://plc-simulation.web.app/">
                PLC Simulation
            </a>
        </li>
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://football-mobile-stats.web.app/">
                Football Match Live Scores & Fixtures
            </a>
        </li>
    </ul>
</div>
