---
import Contact from "./Contact.astro";

---

<div class="sm:flex sm:gap-10">
    <img src="/assets/emre-aka.jpg" alt="A starry night sky." class="h-[250px] w-[250x] mb-3 sm:mb-0 mx-auto">
    <div class="border-t-8 border-black w-full py-3">
        <h1 class="text-blue-500 font-bold">Name: </h1>
        <h1 class="font-bold text-4xl">Emre AKA</h1>
        <h2 class="text-2xl">Back-end developer</h2>
        <Contact/>
    </div>
</div>